$grid_max_width: {{ .Site.Data.grid.grid_max_width }};
$grid_max_unit: {{ .Site.Data.grid.grid_max_unit }};
$grid_main_main_width: {{ .Site.Data.grid.grid_main_main_width }};
$grid_main_main_unit: {{ .Site.Data.grid.grid_main_main_unit }};
$grid_main_side_width: {{ .Site.Data.grid.grid_main_side_width }};
$grid_main_side_unit: {{ .Site.Data.grid.grid_main_side_unit }};
$grid_column_gap_width: {{ .Site.Data.grid.grid_column_gap_width }};
$grid_column_gap_unit: {{ .Site.Data.grid.grid_column_gap_unit }};
$grid_navbar_height: {{ .Site.Data.grid.grid_navbar_height }};
$grid_row_gap: {{ .Site.Data.grid.grid_row_gap }};

$theme_light_chroma: {{ .Site.Data.skin.theme_light_chroma }};
$theme_dark_chroma: {{ .Site.Data.skin.theme_dark_chroma }};
$theme_hacker_chroma: {{ .Site.Data.skin.theme_hacker_chroma }};
$theme_solarized_chroma: {{ .Site.Data.skin.theme_solarized_chroma }};
$theme_kimbie_chroma: {{ .Site.Data.skin.theme_kimbie_chroma }};

$theme_light_chroma_background: {{ .Site.Data.skin.theme_light_chroma_background }};
$theme_dark_chroma_background: {{ .Site.Data.skin.theme_dark_chroma_background }};
$theme_hacker_chroma_background: {{ .Site.Data.skin.theme_hacker_chroma_background }};
$theme_solarized_chroma_background: {{ .Site.Data.skin.theme_solarized_chroma_background }};
$theme_kimbie_chroma_background: {{ .Site.Data.skin.theme_kimbie_chroma_background }};

$button_dark_primary_color: {{ .Site.Data.button.dark_primary_color }};
$button_light_primary_color: {{ .Site.Data.button.light_primary_color }};
$button_hacker_primary_color: {{ .Site.Data.button.hacker_primary_color }};
$button_solarized_primary_color: {{ .Site.Data.button.solarized_primary_color }};
$button_kimbie_primary_color: {{ .Site.Data.button.kimbie_primary_color }};

$title-font: {{ .Site.Data.font.title_font }};
$content-font: {{ .Site.Data.font.content_font }};
$cursive-font: {{ .Site.Data.font.cursive_font }};

@import 'abstracts/variables';
@import 'abstracts/mixins';
@import 'abstracts/functions';
@import 'abstracts/flexbox';

@import 'syntax/syntax';

@import 'base/reset';
@import 'base/fonts';
@import 'base/helpers';
@import 'base/typography';
@import 'base/animation';

@import 'layout/navigation';
@import 'layout/grid';
@import 'layout/header';
@import 'layout/body';
@import 'layout/footer';
@import 'layout/sidebar';

@import 'components/alert';
@import 'components/bio';
@import 'components/breadcrumb';
@import 'components/diagram';
@import 'components/expand';
@import 'components/gtt';
@import 'components/hr';
@import 'components/math';
@import 'components/notice';
@import 'components/pagination';
@import 'components/related';
@import 'components/search';
@import 'components/summary';
@import 'components/swiper';
@import 'components/switch';
@import 'components/taxo';
@import 'components/toc';
@import 'components/tooltip';
@import 'components/whoami';
@import 'components/busuanzi';
@import 'components/donation';
@import 'components/box';
@import 'components/modal';
@import 'components/codetab';
@import 'components/ie';
@import 'components/tab';
@import 'components/button';

@import 'pages/404';
@import 'pages/about';
@import 'pages/archive';
@import 'pages/gallery';
@import 'pages/list';
@import 'pages/single';
@import 'pages/terms';
@import 'pages/contact';
@import 'pages/talk';
@import 'pages/showcase';
@import 'pages/wrapper';
@import 'pages/wrapper';
@import 'pages/publication';
@import 'pages/resume';

.ui.segment {
    position: relative;
    background: none;
}

.ui.top.attached.segment {
    position: relative;
    background: rgba(255,255,255,0.3);
}

.ptransparent {
    position: relative;
    background: rgba(255,255,255,0.3);
}

.ui.header {
    position: relative;
    background: rgba(255,255,255,0.7);
}

.presque {
    position: relative;
    background: rgba(255,255,255,0.7);
}



.sixteen.wide.mobile.sixteen.wide.tablet.sixteen.wide.computer.column{
    position: relative;
    background: rgba(255,255,255,0.3);;
}





.ui.attached.segment.dream-tags{
    position: relative;
    background: rgba(255,255,255,0.7);;
}

.ui.bottom.attached.stacked.segment.post-disqus-area{
    position: relative;
    background: rgba(255,255,255,0.5);
}

.halfy {
    position: relative;
    background: rgba(255,255,255,0.5);
}

.ui.bottom.attached.center.aligned.segment{
    position: relative;
    background: #ffffff;
}

.pagination-single__left{
    position: relative;
    background: #ffffff;
}
.pagination-single__right {
    position: relative;
    background: #ffffff;
}

.name {
    position: absolute;
    font-size: 3vw;
    margin: auto;
    text-align: center;
    text-transform: capitalize;
    width: 100%;
    bottom: 0px;
    letter-spacing: 0;
    font-weight: normal;
    color: white;
    background-color: RGBA(0, 0, 0, 0.53);
}

.grid-item:hover {
  border-color: hsla(0, 0%, 0%, 0.3);

}

.grid {
  margin: 0 auto;
}

.grid:after {
  content: '';
  display: block;
  clear: both;
}

.namehovered {
     position: absolute;
padding: 55px 0;
text-align: center;
	width:100%;
	height:100%;
  letter-spacing: 0;
  font-weight: normal;
  color:white;
	background-color:RGBA(0, 0, 0, 0.53);
	font-size:5vw;

}

.grid-item {

  border-radius: 0;
  padding: 0;
  overflow: hidden;
}

.grid-item:hover .name {
     position: absolute;
padding: 55px 0;
text-align: center;
	width:100%;
	height:100%;
  letter-spacing: 0;
  font-weight: normal;
  color:white;
	background-color:RGBA(0, 0, 0, 0.53);
	font-size:5vw;

}


.dream-paginator {
  position: fixed;
  top: -1rem;
  left: 13.5rem;
}
.blanc {
    position: relative;
    background: rgba(255,255,255,0.9);
}



.grid-item:hover {
  border-color: hsla(0, 0%, 0%, 0.3);

}
.grid-item.width { width:   220px;  }
.grid-item.width2 { width:   440px;  }
.grid-item.width3 { width:   660px;  }
.grid-item.width4 { width:   880px;  }

.grid-item.height { height:  220px;  }
.grid-item.height2 { height:  440px;  }
.grid-item.height3 { height:  660px;  }
.grid-item.height4 { height:  880px;  }
