{{ define "title" }}
{{ .Title }}
{{ end }}

{{ define "main"}}
<div class="ui centered relaxed grid dream-grid">
  <div class="sixteen wide mobile sixteen wide tablet four wide computer column">
    {{ partial "header.html" . }}
  </div>
  <div class="sixteen wide mobile sixteen wide tablet twelve wide computer column">
    <div class="ui segment dream-posts-section">
        <div class="ui grey sub header">{{ .Content }}</div>

    </div>
  </div>
</div>
{{ end }}
