{{ $packery := resources.Get "js/packery.pkgd.min.js" | resources.Fingerprint }}
<script defer src="{{ $packery.RelPermalink }}"></script>
{{ $imagesloaded := resources.Get "js/imagesloaded.pkgd.min.js" | resources.Fingerprint }}
<script defer src="{{ $imagesloaded.RelPermalink }}"></script>
<script defer src="https://cdn.jsdelivr.net/jquery.lazyload/1.8.4/jquery.lazyload.js"></script>
<script>
  window.onload = function() {
    // ========================= masonry =========================
    var grid = document.querySelector('.grid');
    var pkry = new Packery(grid, {
      itemSelector: '.grid-item',
      gutter: 10;
        });
    imagesLoaded(grid).on('progress', function () {
      pkry.layout();
    });

    document.querySelectorAll('.grid-item').forEach(function(elem) {

      elem.querySelector('.grid-item not-loaded').lazyload({
          effect: 'fadeIn',
          load: function() {
            // Disable trigger on this image
            console.log("loading image...");
            $(this).removeClass("not-loaded");
            pkry.packery('reload');
                    }
        });

      elem.addEventListener('mouseenter', function() {
        elem.querySelector('.grid-item__desc').style.display = 'block';
        elem.querySelector('.grid-item__desc').style.opacity = 1;
        elem.querySelector('.grid-item__desc--text').onclick = function (e) {
          e.stopPropagation();
          e.target.parentNode.previousElementSibling.click();
        }
        elem.querySelector('.grid-item__desc').onclick = function(e) {
          e.target.previousElementSibling.click();
        }
      });
      elem.addEventListener('mouseleave', function () {
        elem.querySelector('.grid-item__desc').style.opacity = 0;
      });
    });

    enquire.register("screen and (max-width:1200px)", {
      match: function () {
        document.querySelectorAll('.grid-item').forEach(function(elem) {
          elem.classList.add('quarter');
          elem.classList.remove('fifth');
        });
        document.querySelectorAll('.grid-sizer').forEach(function (elem) {
          elem.classList.add('quarter');
          elem.classList.remove('fifth');
        });
      },
      unmatch: function () {
        document.querySelectorAll('.grid-item').forEach(function (elem) {
          elem.classList.add('fifth');
          elem.classList.remove('quarter');
        });
        document.querySelectorAll('.grid-sizer').forEach(function (elem) {
          elem.classList.add('fifth');
          elem.classList.remove('quarter');
        });
      },
    }).register("screen and (max-width:900px)", {
      match: function () {
        document.querySelectorAll('.grid-item').forEach(function (elem) {
          elem.classList.add('third');
          elem.classList.remove('quarter');
        });
        document.querySelectorAll('.grid-sizer').forEach(function (elem) {
          elem.classList.add('third');
          elem.classList.remove('quarter');
        });
      },
      unmatch: function () {
        document.querySelectorAll('.grid-item').forEach(function (elem) {
          elem.classList.add('quarter');
          elem.classList.remove('third');
        });
        document.querySelectorAll('.grid-sizer').forEach(function (elem) {
          elem.classList.add('quarter');
          elem.classList.remove('third');
        });
      },
    }).register("screen and (max-width:700px)", {
      match: function () {
        document.querySelectorAll('.grid-item').forEach(function (elem) {
          elem.classList.add('half');
          elem.classList.remove('third');
        });
        document.querySelectorAll('.grid-sizer').forEach(function (elem) {
          elem.classList.add('half');
          elem.classList.remove('third');
        });
      },
      unmatch: function () {
        document.querySelectorAll('.grid-item').forEach(function (elem) {
          elem.classList.add('third');
          elem.classList.remove('half');
        });
        document.querySelectorAll('.grid-sizer').forEach(function (elem) {
          elem.classList.add('third');
          elem.classList.remove('half');
        });
      },
    }).register("screen and (max-width:500px)", {
      match: function () {
        document.querySelectorAll('.grid-item').forEach(function (elem) {
          elem.classList.add('full');
          elem.classList.remove('half');
        });
        document.querySelectorAll('.grid-sizer').forEach(function (elem) {
          elem.classList.add('full');
          elem.classList.remove('half');
        });
      },
      unmatch: function () {
        document.querySelectorAll('.grid-item').forEach(function (elem) {
          elem.classList.add('half');
          elem.classList.remove('full');
        });
        document.querySelectorAll('.grid-sizer').forEach(function (elem) {
          elem.classList.add('half');
          elem.classList.remove('full');
        });
      },
    });
    // ===========================================================
  }
</script>
