<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}" >
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />

  {{ partial "head.html" . }}


</head>


<body >
  {{ partial "nav.html" . }}

  <div class="flip-container">
    {{ partial "script/triangle.html" . }}

    <div class="flipper">
      <section class="front" >

        {{ partial "head/scripts" . }}
        {{ partialCached "head/styles" . }}


        <div class="sixteen wide mobile sixteen wide tablet sixteen wide computer column" >
          <section class="ui top attached segment" id="dream-save-post-as-img">

            <header style="margin-top: 0 !important;">
              <h2 class="ui header">
                {{ .Title }}
                <div class="sub header">@ {{ if isset .Params "author" }}{{ .Params.author }}{{ else }}{{ .Site.Params.author }}{{ end }} · {{ .Date.Format "Monday, Jan 2, 2006" }} · {{ .ReadingTime }}{{ i18n "minuteRead" }} · {{ i18n "updateAt" }} {{ dateFormat "Jan 2, 2006" .Lastmod }}</div>
              </h2>
            </header>




            {{ $root := . }}
            <div class="grid gallery__container" style="margin-top:2em" >

              <a   href="/gallery/">
                <img class="grid-item width2 height " href="/gallery/" src="/img/return.svg"/>
              </a>

              {{ if .File.Dir }}
              {{ $basename := (replace .File.Dir "\\" "/") }}

              {{ range (readDir (print "./static/" $basename)) }}
              {{ if eq (path.Ext .Name) ".jpg" }}

              <a class="grid-item darken" style="width:440px" href="{{ (print "/" $basename ((index (split .Name ".") 0) ))  }}">
                <img class="lazyload" style="width:100%" data-src="{{ $basename | relURL }}{{ .Name }}" src="/thumbnail{{ $basename | relURL }}{{ .Name }}" alt="{{ index (split .Name ".") 0 }}"/>
                <div class="name" style="font-size: 33.6px;">{{ index (split .Name ".") 0 }}
                </div>
                <div class="grid-item__desc hide">
                  <span  class="grid-item__desc--text" style="color:white">
                    {{ index (split .Name ".") 0 }}
                  </span>
                </div>
              </a>
              {{ else }}
              {{ end }}
              {{ end }}
              {{ end }}
              <div class="ui attached segment dream-tags grid-item" style="height:70px">
                {{ if isset .Params "tags" }}
                {{ range $tag := .Params.tags }}
                <a class="ui label" href="{{ "tags/" | relLangURL }}{{ $tag | urlize }}" title="{{ $tag }}">{{ $tag }}</a>
                {{ end }}
                {{ else }}
                <a class="ui label">{{ i18n "noTag" }}</a>
                {{ end }}
              <div
                class="ui label"
                style="float: right; background: #1b1c1d !important; cursor: pointer;"
                onclick="savePostAsImg()">
                <i class="save icon"></i> Save as image
              </div>
            </div>
          </div>

        </section>
      </div>


      {{ if .Site.Copyright }}
      <footer class="ui attached segment">
        {{ .Site.Copyright | safeHTML }}
      </footer>
      {{ end }}

      {{ if .Site.DisqusShortname }}
      <footer class="ui bottom attached stacked segment post-disqus-area" data-html2canvas-ignore="true">
        <div id="disqus_thread"></div>
        <script>
        /**
        *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
        *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables
        */

        var disqus_config = function () {
          this.page.url = '{{ .Permalink }}';  // Replace PAGE_URL with your page's canonical URL variable
          this.page.identifier = '{{ .RelPermalink }}'; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
        };

        (function() { // DON'T EDIT BELOW THIS LINE
          var d = document, s = d.createElement('script');
          s.src = 'https://' + '{{ .Site.DisqusShortname }}' + '.disqus.com/embed.js';
          s.setAttribute('data-timestamp', +new Date());
          (d.head || d.body).appendChild(s);
        })();
        </script>
        <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
      </footer>
      {{ end }}








      {{ block "main" . }} {{ end }}
    </section>
    <section class="back">
      {{ partial "back.html" . }}
    </section>

  </div>


</div>
{{ partial "script/gallery-script" . }}

{{ partial "footer.html" . }}
</body>
</html>
