<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>{{ block "title" . }} {{- .Site.Title -}} {{ end }}</title>

    {{ partial "head.html" . }}

  </head>




  <body>

    <div class="flip-container">
      {{ partial "script/triangle.html" . }}

      <div class="flipper">
        <section class="front">
          {{ partial "nav.html" . }}
          {{ block "main" . }} {{ end }}
        </section>
        <section class="back">

          {{ partial "nav.html" . }}
          {{ partial "back.html" . }}

        </section>
      </div>
    </div>

    {{ partial "footer.html" . }}
  </body>

</html>
