{{ if .Site.Params.backgroundImage }}
<article class="ui raised card dream-card" style="box-shadow: none;">
{{ else }}
{{ if (not ( isset .Params "author")) }}
<article class="ui raised card dream-card" style="box-shadow: none;">
{{ else }}
<article class="ui raised card dream-card test" >
{{ end }} {{ end }}
  <div class="image">
    {{ if isset .Params "cover" }}
      <img src="{{ .Params.cover }}" alt="{{ .Title }}" />
    {{ else }}
      <img src="/img/default{{ index (shuffle (seq 1 4)) 0 }}.jpg" alt="{{ .Title }}" />
    {{ end }}
  </div>
  {{ if isset .Params "author" }}
  <div class="content">
    <a class="header" style="color: black !important;" href="{{ .Permalink }}">{{ .Title }}</a>
    <div class="meta">
      <p class="date">{{ .Date.Format "Monday, Jan 2, 2006" }}</p>
      <p class="author">@ {{ if isset .Params "author" }}{{ .Params.author }}{{ else }}{{ .Site.Params.author }}{{ end }}</p>
    </div>
    <div class="description">
      {{ .Summary | plainify | htmlUnescape }}
    </div>
  </div>

  <div class="extra content">
    <a>
      <i class="clock icon"></i>
      {{ .ReadingTime }}{{ i18n "minuteRead" }}
    </a>
  </div>
  {{ else }}
</article>
{{ end }}
