{{ if .Site.Params.backgroundImageback }}
<div style="background-image: url({{ .Site.Params.backgroundImageback }});height:3000px;width:100%">
{{ else }}
<div >
{{ end }}

<div class="ui centered relaxed grid dream-grid dream-back">
  {{ if eq .Lang "fr" }}

  {{ range where .Site.Data.didyaknow.fr "Pagename" .Title }}
    <section class="sixteen wide mobile eight wide tablet four wide computer column dream-column">
      <article>
        <div class="ui top attached blanc segment">
          <h3 class="ui header">{{ .title }}</h3>
        </div>
        <div class="ui attached segment blanc markdown-body centered">
          <a href="{{ .href }}" ><img  src="{{ .img }}"/> </a>
          <p class="blanc">{{ .text | emojify }}</p>
        </div>
      </article>
    </section>
    {{ end }}

    {{ else if eq .Lang "en" }}
    {{ range where .Site.Data.didyaknow.en "Pagename" .Title }}
    <section class="sixteen wide mobile eight wide tablet four wide computer column dream-column">
      <article>
        <div class="ui top attached blanc segment">
          <h3 class="ui header">{{ .title }}</h3>
        </div>
        <div class="ui attached segment blanc markdown-body centered">
          <a href="{{ .href }}" ><img  src="{{ .img }}"/> </a>
          <p class="blanc">{{ .text | emojify }}</p>
        </div>
      </article>
    </section>
    {{ end }}
    {{ end }}


  {{ range where .Site.RegularPages "Section" "about" }}
    <section class="sixteen wide mobile eight wide tablet four wide computer column dream-column">
      <article>
        <div class="ui top attached segment">
          <h3 class="ui header">{{ .Title }}</h3>
        </div>
        <div class="ui attached segment markdown-body">
          {{ .Content | emojify }}
        </div>
      </article>
    </section>
  {{ end }}

  <section class="sixteen wide mobile eight wide tablet four wide computer column dream-column">
    <article>
      <div class="ui top attached segment">
        <h3 class="ui header">{{ i18n "socialLinks" }}</h3>
      </div>
      <div class="ui attached segment">
        <nav class="ui secondary menu dream-menu">
          {{ if .Site.Params.email }}
            <div class="item">
              <a href="mailto:{{ .Site.Params.email }}">
                <i class="large mail icon" title="email"></i>
              </a>
            </div>
          {{ end }}

          {{ if .Site.Params.github }}
            <div class="item">
              <a href="{{ .Site.Params.github }}" target="_blank">
                <i class="large github icon" title="github"></i>
              </a>
            </div>
          {{ end }}

          {{ if .Site.Params.linkedin }}
            <div class="item">
              <a href="https://www.linkedin.com/in/{{ .Site.Params.linkedin }}" target="_blank">
                <i class="large linkedin icon" title="linkedin"></i>
              </a>
            </div>
          {{ end }}

          {{ if .Site.Params.stackoverflow }}
            <div class="item">
              <a href="https://www.stackoverflow.com/users/{{ .Site.Params.stackoverflow }}" target="_blank">
                <i class="large stack overflow icon" title="stackoverflow"></i>
              </a>
            </div>
          {{ end }}

          {{ if .Site.Params.codepen }}
            <div class="item">
              <a href="https://codepen.io/{{ .Site.Params.codepen }}" target="_blank">
                <i class="large codepen icon" title="codepen"></i>
              </a>
            </div>
          {{ end }}
        </nav>
      </div>
    </article>
  </section>

  <section class="sixteen wide mobile eight wide tablet four wide computer column dream-column">
    {{ if .Site.Copyright }}
      <footer class="ui segment">
        {{ .Site.Copyright | safeHTML }}
      </footer>
    {{ end }}
  </section>

  {{ if findRE "posts/.+" .RelPermalink }}
  {{ else }}

{{ end }}
</div>

</div>
</div>
