<link rel="stylesheet" href="/css/site.css" />


<article class="dream-header">
  <section class="ui top attached center aligned segment">
    <div class="ui small circular image">
      {{ if isset .Site.Params "avatar" }}
        <img src="{{ .Site.Params.avatar }}">
      {{ end }}
    </div>

    <h3 class="ui header">
     {{- .Title -}}
      <div class="sub header" style="margin-top: 0.5rem;"> {{- .Date -}}</div>
    </h3>

    <div class="ui horizontal list">
      {{ if gt (len (where .Site.RegularPages "Section" "==" "posts")) 0 }}
      <a class="item" href="/posts">
        <i class="archive icon" title="{{ i18n "archives" }}"></i>
      </a>
      {{ end }}
      <a class="item" href="/tags">
        <i class="tags icon" title="{{ i18n "allTags" }}"></i>
      </a>
      <a class="item" href="/categories">
        <i class="th list icon" title="{{ i18n "allCategories" }}"></i>
      </a>
    </div>
  </section>

  {{ if .Site.Taxonomies.tags }}
  <section class="ui attached center aligned segment dream-tags">
    {{ range $name, $taxonomy := .Site.Taxonomies.tags }}
      <a class="ui label" href="{{ "tags/" | relLangURL }}{{ $name | urlize }}" title="{{ $name }}">{{ $name }}</a>
    {{ end }}
  </section>
  {{ end }}




</article>
