<div class="ui secondary menu dream-menu dream-paginator" style="left:13.5rem">
  {{ if .paginator.HasPrev }}
  <div class="item" >
    <a href="{{ .paginator.Prev.URL }}">
    {{ if .Site.Params.darkNav }}
      <i class="large arrow alternate circle outline link left inverted icon" title="{{ i18n "prevPage" }}"></i>
    {{ else }}
      <i class="large arrow alternate circle outline link left icon" title="{{ i18n "prevPage" }}"></i>
    {{ end }}
    </a>
  </div>
  {{ end }}

  {{ if .paginator.HasNext }}
  <div class="item" >
    <a href="{{ .paginator.Next.URL }}" >
    {{ if .Site.Params.darkNav }}
      <i class="large arrow alternate circle outline link right inverted icon" title="{{ i18n "nextPage" }}"></i>
    {{ else }}
      <i class="large arrow alternate circle outline link right icon" title="{{ i18n "nextPage" }}"></i>
    {{ end }}
    </a>
  </div>
  {{ end }}
</div>
