{{ $packery := resources.Get "js/packery.pkgd.min.js" | resources.Fingerprint }}
<script defer src="{{ $packery.RelPermalink }}"></script>
{{ $imagesloaded := resources.Get "js/imagesloaded.pkgd.min.js" | resources.Fingerprint }}
<script defer src="{{ $imagesloaded.RelPermalink }}"></script>
{{ $lazyload := resources.Get "js/lazyload.min.js" | resources.Fingerprint }}
<script defer src="{{ $lazyload.RelPermalink }}"></script>

<script>
  window.onload = function() {
    // ========================= masonry =========================
    // overwrite Packery methods
var __resetLayout = Packery.prototype._resetLayout;
Packery.prototype._resetLayout = function() {
  __resetLayout.call( this );
  // reset packer
  var parentSize = getSize( this.element.parentNode );
  var colW = this.columnWidth + this.gutter;
  this.fitWidth = Math.floor( ( parentSize.innerWidth + this.gutter ) / colW ) * colW;
  this.packer.width = this.fitWidth;
  this.packer.height = Number.POSITIVE_INFINITY;
  this.packer.reset();
};

Packery.prototype._getContainerSize = function() {
  // remove empty space from fit width
  var emptyWidth = 0;
  for ( var i=0, len = this.packer.spaces.length; i < len; i++ ) {
    var space = this.packer.spaces[i];
    if ( space.y === 0 && space.height === Number.POSITIVE_INFINITY ) {
      emptyWidth += space.width;
    }
  }

  return {
    width: this.fitWidth - this.gutter - emptyWidth,
    height: this.maxY - this.gutter
  };
};

// always resize
Packery.prototype.needsResizeLayout = function() {
  return true;
};

// init packery
var container = document.querySelector('.grid');
var pckry = new Packery( container, {
  itemSelector: '.grid-item',
  gutter: 1,
});

window.addEventListener("load", function(event) {
    lazyload();
    pckry.reload()

});

document.ready(function() {

});

    document.querySelectorAll('.grid-item').forEach(function(elem) {


      elem.addEventListener('mouseenter', function() {
        elem.querySelector('.grid-item__desc').style.display = 'none';
        elem.querySelector('.grid-item__desc').style.opacity = 1;
        elem.querySelector('.grid-item__desc--text').onclick = function (e) {
          e.stopPropagation();
          e.target.parentNode.previousElementSibling.click();
        }
        elem.querySelector('.grid-item__desc').onclick = function(e) {
          e.target.previousElementSibling.click();
        }
      });
      elem.addEventListener('mouseleave', function () {
        elem.querySelector('.grid-item__desc').style.opacity = 0;
      });
    });

    enquire.register("screen and (max-width:1200px)", {
      match: function () {
        document.querySelectorAll('.grid-item').forEach(function(elem) {
          elem.classList.add('quarter');
          elem.classList.remove('fifth');
        });
        document.querySelectorAll('.grid-sizer').forEach(function (elem) {
          elem.classList.add('quarter');
          elem.classList.remove('fifth');
        });
      },
      unmatch: function () {
        document.querySelectorAll('.grid-item').forEach(function (elem) {
          elem.classList.add('fifth');
          elem.classList.remove('quarter');
        });
        document.querySelectorAll('.grid-sizer').forEach(function (elem) {
          elem.classList.add('fifth');
          elem.classList.remove('quarter');
        });
      },
    }).register("screen and (max-width:900px)", {
      match: function () {
        document.querySelectorAll('.grid-item').forEach(function (elem) {
          elem.classList.add('third');
          elem.classList.remove('quarter');
        });
        document.querySelectorAll('.grid-sizer').forEach(function (elem) {
          elem.classList.add('third');
          elem.classList.remove('quarter');
        });
      },
      unmatch: function () {
        document.querySelectorAll('.grid-item').forEach(function (elem) {
          elem.classList.add('quarter');
          elem.classList.remove('third');
        });
        document.querySelectorAll('.grid-sizer').forEach(function (elem) {
          elem.classList.add('quarter');
          elem.classList.remove('third');
        });
      },
    }).register("screen and (max-width:700px)", {
      match: function () {
        document.querySelectorAll('.grid-item').forEach(function (elem) {
          elem.classList.add('half');
          elem.classList.remove('third');
        });
        document.querySelectorAll('.grid-sizer').forEach(function (elem) {
          elem.classList.add('half');
          elem.classList.remove('third');
        });
      },
      unmatch: function () {
        document.querySelectorAll('.grid-item').forEach(function (elem) {
          elem.classList.add('third');
          elem.classList.remove('half');
        });
        document.querySelectorAll('.grid-sizer').forEach(function (elem) {
          elem.classList.add('third');
          elem.classList.remove('half');
        });
      },
    }).register("screen and (max-width:500px)", {
      match: function () {
        document.querySelectorAll('.grid-item').forEach(function (elem) {
          elem.classList.add('full');
          elem.classList.remove('half');
        });
        document.querySelectorAll('.grid-sizer').forEach(function (elem) {
          elem.classList.add('full');
          elem.classList.remove('half');
        });
      },
      unmatch: function () {
        document.querySelectorAll('.grid-item').forEach(function (elem) {
          elem.classList.add('half');
          elem.classList.remove('full');
        });
        document.querySelectorAll('.grid-sizer').forEach(function (elem) {
          elem.classList.add('half');
          elem.classList.remove('full');
        });
      },
    });
    // ===========================================================
  }
</script>
