{{ $d3 := resources.Get "js/d3.js" | resources.Fingerprint }}
<script src="{{ $d3.RelPermalink }}"></script>
{{ $Trianglify := resources.Get "js/trianglify.min.js" | resources.Fingerprint }}
<script src="{{ $Trianglify.RelPermalink }}"></script>

<script>
var rn = Math.floor((Math.random() * 150) + 60);
var rs = Math.floor((Math.random() * 11) + 4);
	var t = new Trianglify({
 x_gradient: Trianglify.colorbrewer.Spectral[rs],
    noiseIntensity: 0.4,
    cellsize: rn
});
var pattern = t.generate(window.innerWidth, 3*window.innerHeight);
document.body.setAttribute('style', 'background-image: '+pattern.dataUrl);

</script>
